/* src/index.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}




.full-width {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.main{
  overflow-x: hidden;
}

/* hero */
.hero {
  display: flex;
  align-items: center;
}
.hero-text {
  flex: 50%;
}
.hero-img {
  flex: 50%;
}

/* customer-support */
.customer-support {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: #f6f6f6;
  padding-left: 75px;
  padding-right: 75px;
}
.customer-support.bg-none {
  background: none;
}
.customer-support-img {
  flex: 50%;
}
.customer-support-text {
  flex: 50%;
}

/* shared */
.section-title {
  color: #272d38;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 24px;
}
.section-text {
  color: #272d38;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.5px;
  text-transform: capitalize;
  width: 80%;
  margin-bottom: 30px;
}
.blue-button {
  border-radius: 8px;
  background: #8eadd5;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  padding: 10px 30px;
}
.arrow {
  color: #272d38;
}
.mt-100 {
  margin-top: 100px;
}
.mb-100 {
  margin-bottom: 100px;
}
.sub-title {
  color: #272d38;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.5px; /* 171.875% */
  text-transform: capitalize;
}
/* testimonial */
.testimonial {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 35px;
}
.testimonial-card {
  border-radius: 20px;
  background: #f6f6f6;
  padding: 32px;
  text-align: center;
}
.testimonial-card-title {
  color: #272d38;
  font-family: Inter;
  font-size: 18px;
  line-height: 27.5px; /* 152.778% */
  text-transform: capitalize;
  margin-top: 8px;
}
.testimonial-card-text {
  color: #272d38;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  margin-top: 25px;
  font-weight: 300;
  line-height: 130%; /* 18.2px */
  text-transform: capitalize;
}

/* Tiny Screen */
@media (min-width: 320px) and (max-width: 375px) {
  .hero {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
  }
  .section-title {
    font-size: 35px !important;
    text-align: center;
    width: 100% !important;
  }
  .section-text {
    text-align: center;
    width: 100% !important;
  }
  .hero-img img {
    width: 100% !important;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .blue-btn {
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  /* customer-support */
  .customer-support {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
  }

  .customer-support-img img {
    display: none;
  }
  .arrow {
    text-align: center;
    transform: rotate(450deg);
  }
  /* branding & design */
  .customer-support.bg-none {
    display: flex;
    flex-direction: column-reverse;
  }
  .customer-support-img.block img {
    display: block;
    width: 100%;
  }
  /* testimonial */
  .testimonial {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

/* Small Screen */
@media (min-width: 376px) and (max-width: 767px) {
  .hero {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
  }
  .section-title {
    font-size: 35px !important;
    text-align: center;
    width: 100% !important;
  }
  .section-text {
    text-align: center;
    width: 100% !important;
  }
  .hero-img img {
    width: 100% !important;
    max-width: 100%;
    height: auto;
  }
  .blue-btn {
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  /* customer-support */
  .customer-support {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
  }
  .customer-support-img img {
    display: none;
  }
  .arrow {
    text-align: center;
    transform: rotate(450deg);
  }
  /* branding & design */
  .customer-support.bg-none {
    display: flex;
    flex-direction: column-reverse;
  }
  .customer-support-img.block img {
    display: block;
    width: 100%;
  }
  /* testimonial */
  .testimonial {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

/* Medium Screen */
@media (min-width: 768px) and (max-width: 1023px) {
  .section-title {
    font-size: 48px !important;
  }
  .hero {
    padding: 0 50px;
  }
  .customer-support {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
  }
}

/* Large Screen */
@media (min-width: 1024px) and (max-width: 1279px) {
  .section-title {
    font-size: 48px !important;
  }
  .hero {
    padding: 0 50px;
  }
  .testimonial {
    grid-template-columns: 1fr 1fr; /* Two columns for medium screens */
  }
}

/* Extra Large Screen */
@media (min-width: 1280px) and (max-width: 1535px) {
  /* Your CSS styles for extra large screens go here */
}

/* 2 Extra Large Screen */
@media (min-width: 1536px) and (max-width: 1919px) {
  /* Your CSS styles for 2 extra large screens go here */
}

/* 3 Extra Large Screen */
@media (min-width: 1920px) {
  /* Your CSS styles for 3 extra large screens go here */
}
